.container-wrapper {
    display: grid;
    grid-template-areas: 'generalArea';
    min-height: 100vh;
    width: 100vw;
    position: relative;
}
.bg-image {
    grid-area: generalArea;
    z-index: 0;
}
.container-content {
    grid-area: generalArea;
    z-index: 1;
    height: 100%;
}

.app-header {
    position: fixed;
    top: 0px;
    left: 0;
    height: 132px;
    z-index: 2;
    width: 100vw;
}

.cardTile {
    display: grid;
    grid-template-areas: 'cards';
    min-height: 232px;
}
.card-image {
    grid-area: cards;
    z-index: 0;
    animation-duration: 1.6s;
    animation-name: fadeIn;
    animation-fill-mode: both;
}
.card-content {
    grid-area: cards;
    z-index: 1;
}

.gradient-filter {
    background: linear-gradient(180deg, rgba(141, 80, 8, 0.12) 0%, rgba(236, 242, 244, 0.12) 100%);
}
.card-image-filtered {
    transition: scale 2s ease-in-out;
}
.cardTile:hover .card-image-filtered {
    scale: 1.4;
}

.cardTile:hover .gradient-filter {
    background: none;
}

.filter-button {
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid #615e5c;
    box-shadow: 0px 4px 8px -4px #ffffff40 inset;
    box-shadow: 0px -4px 8px -4px #ffffff40 inset;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 28px;
    padding-right: 28px;
}
.filter-button.active {
    background-color: #fec432;
    color: black;
}

.cards-holder {
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: both;
}
.form-row {
    display: flex;
    flex-direction: column;
    position: relative;
}
.form-row input {
    background-color: rgba(83, 83, 83, 0.4);
    font-size: 14px;
    font-weight: 500;
    padding: 16px 24px;
    color: white;
    border-radius: 6px;
    transition: all 1s ease-in-out;
}
.form-row input:focus {
    background-color: rgba(83, 83, 83, 0.4);
}

.form-row input:valid {
    background-color: rgba(83, 83, 83, 0.4);
}

.form-row input:-webkit-autofill,
.form-row input:-webkit-autofill:hover,
.form-row input:-webkit-autofill:focus,
.form-row textarea:-webkit-autofill,
.form-row textarea:-webkit-autofill:hover,
.form-row textarea:-webkit-autofill:focus,
.form-row select:-webkit-autofill,
.form-row select:-webkit-autofill:hover,
.form-row select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgba(83, 83, 83, 0.4) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

.form-row input.input-error {
    background-color: rgb(150, 6, 6);
    color: white;
    font-weight: 700;
}
.form-row span.error {
    color: red;
    position: absolute;
    top: -25px;
}

.form-order-input {
    background-color: rgba(83, 83, 83, 0.4);
    font-size: 14px;
    font-weight: 500;
    padding: 16px 24px;
    color: white;
    border-radius: 6px;
}
.form-order-input::placeholder {
    opacity: 0.64;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 780px) {
    .app-header {
        height: 72px;
    }
}

