.container-wrapper {
    display: grid;
    grid-template-areas: 'generalArea';
    min-height: 100vh;
    width: 100vw;
    position: relative;
}
.bg-image {
    grid-area: generalArea;
    z-index: 0;
}
.container-content {
    grid-area: generalArea;
    z-index: 1;
    height: 100%;
}

.app-header {
    position: fixed;
    top: 0px;
    left: 0;
    height: 132px;
    z-index: 2;
    width: 100vw;
}

.cardTile {
    display: grid;
    grid-template-areas: 'cards';
    min-height: 232px;
}
.card-image {
    grid-area: cards;
    z-index: 0;
    animation-duration: 1.6s;
    animation-name: fadeIn;
    animation-fill-mode: both;
}
.card-content {
    grid-area: cards;
    z-index: 1;
}

.gradient-filter {
    background: linear-gradient(180deg, rgba(141, 80, 8, 0.12) 0%, rgba(236, 242, 244, 0.12) 100%);
}
.card-image-filtered {
    transition: scale 2s ease-in-out;
}
.cardTile:hover .card-image-filtered {
    scale: 1.4;
}

.cardTile:hover .gradient-filter {
    background: none;
}

.filter-button {
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid #615e5c;
    box-shadow: 0px 4px 8px -4px #ffffff40 inset;
    box-shadow: 0px -4px 8px -4px #ffffff40 inset;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 28px;
    padding-right: 28px;
}
.filter-button.active {
    background-color: #fec432;
    color: black;
}

.cards-holder {
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 780px) {
    .app-header {
        height: 72px;
    }
}

